body {
  width: 100%;
  height: 100%;
  margin: 0;
}

figure {
  text-align: center;
}

nav a {
  padding: 10px;
  background-color: #7f7c7c;
}

#featured-property img {
  width: 900px;
}

#featured-property figcaption {
  font-size: 0.8em;
  text-align: center;
}

#details div {
  background-color: #7f7c7c;
  text-align: center;
  float: left;
  width: 25%;
}

#featured-property p {
  width: 800px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

header {
  text-align: center;
}